  <section id="brand_film">
		<div class="content">
			<%= image_tag("mobile/main/title.png", class:"content_full_element") %>
			<div id="ytplayer_wrapper">
		  	<iframe id="ytplayer" width="100%"  src="//www.youtube.com/embed/aFTQ8gnKnFw?controls=0&showinfo=0&modestbranding=1&wmode=opaque&enablejsapi=1" frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="content_full_element video_small clearfix">

			<div class="video_div third">
				<div>
					<%= image_tag("mobile/main/video_3_title.png", class:"video_title link_movie_3") %>
			  </div>
				<div>
					<a href = "#" id="link_movie_3" class="link_movie_icon">
	        	<%= image_tag("mobile/main/video_3.png", class:"video_vid link_movie_3") %>
	      	</a>
	  		    </div>
				<div>
					<%= link_to(image_tag("mobile/facebook.png", class:"video_facebook"), "#", id:"facebook_share_link_3") %>	
					<%= link_to(image_tag("mobile/twitter.png", class:"video_twitter"), "#", id:"twitter_share_link_3", "data-text" => "론칭 2년째 수익률은 마이너스. 실패가 뻔했던 스킨케어. 뭐하러 돈 들여 만들었지? 프로스틴의 무모하고 용기있는 도전을 영상으로 만나보세요.", "data-url" => "http://www.youtube.com/watch?v=yK7pEo4qnN0") %>
  			  
                </div>

			</div>

			<div class="video_div">
				<div>
					<%= image_tag("mobile/main/video_2_title.png", class:"video_title link_movie_2") %>
			  </div>
				<div>
	        <a href="#" id="link_movie_2" class="link_movie_icon">
						<%= image_tag("mobile/main/video_2.png", class:"video_vid link_movie_2") %>
	        </a>
				</div>
				<div>
					<%= link_to(image_tag("mobile/facebook.png", class:"video_facebook"), "#", id:"facebook_share_link_2") %>	
					<%= link_to(image_tag("mobile/twitter.png", class:"video_twitter"), "#", id:"twitter_share_link_2", "data-text" => "프로스틴은 가진 게 없습니다. 방부제도 유해성분도 0%인 스킨케어. 심지어 새싹까지 틔우게 하는 스킨케어. 우리의 무모한 집착을 영상으로 만나보세요.", "data-url" => "http://www.youtube.com/watch?v=yK7pEo4qnN0") %>
					
			  </div>
			</div>


			<div class="video_div second">
				<div>
					<%= image_tag("mobile/main/video_1_title.png", class:"video_title link_movie_1") %>
			  </div>
				<div>
					<a href = "#" id="link_movie_1" class="link_movie_icon">
						<%= image_tag("mobile/main/video_1.png", class:"video_vid link_movie_1") %>
  		  	</a>
	  		</div>
				<div>
					<%= link_to(image_tag("mobile/facebook.png", class:"video_facebook"), "#", id:"facebook_share_link_1") %>	
					<%= link_to(image_tag("mobile/twitter.png", class:"video_twitter"), "#", id:"twitter_share_link_1", "data-text" => "개봉 후 냉장 보관 8주가 스킨케어 브랜드 프로스틴의 유통기한입니다. 이것은 피부에 대한 무모한 집착 또는 철학. 착한 성분만 전달하기 위한 가장 짧은 진심을 영상으로 만나보세요.", "data-url" => "http://www.youtube.com/watch?v=yK7pEo4qnN0") %>			  
      	        </div>
			</div>



			
			
		</div>
	</div>
</section>