<div class="menu_form">
	<%= link_to(image_tag("mobile/back/menu_1.png", class:"menu_list"), "#menu_1") %>
	<%= link_to(image_tag("mobile/back/menu_2.png", class:"menu_list"), "#menu_2") %>
	<%= link_to(image_tag("mobile/back/menu_3.png", class:"menu_list"), "#menu_3") %>
</div>
<div class="contain">
	<div class="navi">
		<%= image_tag("mobile/logo.png", class:"logo") %>
		<%= link_to(image_tag("mobile/main/button_menu.png", id:"menu"), "#menu") %>
	</div>
	<div class="content">
		<%= image_tag("mobile/main/title.png", class:"content_full_element") %>
		<%= link_to(image_tag("mobile/main/video_main.png", class:"content_full_element"), "#video_main") %>
		<div class="content_full_element video_small">
			<div class="video_div">
				<%= image_tag("mobile/main/video_2_title.png", class:"video_title") %><br>
				<%= image_tag("mobile/main/video_2.png", class:"video_vid") %><br>
				<%= image_tag("mobile/main/video_2_content.png", class:"video_title") %>
			</div>
			<div class="video_div">
				<%= image_tag("mobile/main/video_1_title.png", class:"video_title") %><br>
				<%= image_tag("mobile/main/video_1.png", class:"video_vid") %><br>
				<%= image_tag("mobile/main/video_1_content.png", class:"video_title") %>
			</div>
		</div>
	</div>
	<div class="poster">
		<%= image_tag("mobile/main/poster_title.png", class:"poster_title") %>
		<div class="poster_box">
			<div class="poster_inbox">
				<%= link_to "#poster_1", code:"1", class:"poster_select" do%>
          <%= image_tag("mobile/main/poster_1.png", class:"poster_element") %>
        <%end%>
			  <%= link_to "#poster_2", code:"2", class:"poster_select" do%>
          <%= image_tag("mobile/main/poster_1.png", class:"poster_element") %>
        <%end%>
			  <%= link_to "#poster_3", code:"3", class:"poster_select" do%>
          <%= image_tag("mobile/main/poster_1.png", class:"poster_element") %>
        <%end%>
			  <%= link_to "#poster_4", code:"4", class:"poster_select" do%>
          <%= image_tag("mobile/main/poster_1.png", class:"poster_element") %>
        <%end%>
			  <%= link_to "#poster_5", code:"5", class:"poster_select" do%>
          <%= image_tag("mobile/main/poster_1.png", class:"poster_element") %>
        <%end%>
			</div>
		</div>
		<%= link_to new_mobile_user_path(code:"1"), "data-href" => new_mobile_user_path, id:"poster_btn" do%>
      <%= image_tag("mobile/main/poster_apply.png", class:"poster_button") %>
    <%end%>
    <br>
		<%= link_to(image_tag("mobile/main/scroll_icon.png", class:"poster_button"), "#poster_btn") %><br>
		<%= image_tag("mobile/main/gift.png", class:"gift") %>
	</div>
	<div class="site">
		<%= link_to(image_tag("mobile/main/button_site.png", class:"site_btn"), "#site_btn") %><br>
		<%= image_tag("mobile/main/site.png", class:"site_content") %>
	</div>
	<div class="caution">
		<%= image_tag("mobile/main/caution.png", class:"caution") %>
	</div>
</div>
