<div class="menu_form">
	<%= link_to(image_tag("mobile/back/menu_3.png", class:"menu_list"), "#menu_3", id:"btn_brand_film") %>
	<%= link_to(image_tag("mobile/back/menu_1.png", class:"menu_list"), "#menu_1", id:"btn_poster_coupon") %>
	<%= link_to(image_tag("mobile/back/menu_2.png", class:"menu_list"), "#menu_2", id:"btn_brand_talk") %>
</div>
<div class="contain">
  <nav data-scroll-header class="navi" id="mobile_navi">
		<%= image_tag("mobile/logo.png", class:"logo") %>
		<%= link_to(image_tag("mobile/main/button_menu.png", id:"menu"), "#menu") %>
	</nav>
<%= render "brand_film"%>
<section id="poster_coupon">
	<div class="poster">
		<div class="poster_title">
			<a href="#" class="winner_btn"><%= link_to(image_tag("mobile/btn_winner.png", class:"poster_title_btn"), mobile_winners_path) %></a>
			<%= image_tag("mobile/main/poster_title.png", class:"poster_title_img") %>
	    </div>
		<div id="poster_box">
			<div id="poster_inbox" class="owl-carousel owl-theme">
				<div class="item">
          <%= link_to new_mobile_user_path(code:"1"), code:"1", class:"poster_select" do%>
          <%= image_tag("mobile/main/poster_1.png", class:"poster_element") %>
          <%end%>
        </div>
			  <div class="item">
          <%= link_to new_mobile_user_path(code:"2"), code:"2", class:"poster_select" do%>
          <%= image_tag("mobile/main/poster_2.png", class:"poster_element") %>
          <%end%>
        </div>
			  <div class="item">
          <%= link_to new_mobile_user_path(code:"3"), code:"3", class:"poster_select" do%>
          <%= image_tag("mobile/main/poster_3.png", class:"poster_element") %>
          <%end%>
        </div> 
			  <div class="item">
          <%= link_to new_mobile_user_path(code:"4"), code:"4", class:"poster_select" do%>
          <%= image_tag("mobile/main/poster_4.png", class:"poster_element") %>
          <%end%>
        </div>
			  <div class="item">
          <%= link_to new_mobile_user_path(code:"5"), code:"5", class:"poster_select" do%>
          <%= image_tag("mobile/main/poster_5.png", class:"poster_element") %>
          <%end%>
        </div>
			</div>
		</div>
		
		<div class="poster_text_inner">
			<%= image_tag("mobile/main/poster_text.png", class:"poster_text") %>
    	</div>
    <br>
		<%= image_tag("mobile/main/gift.png", class:"gift") %>
	</div>
</section>
<section id="brand_talk">
	<div class="about_top">
		<div class="btn">
			<%= link_to(image_tag("mobile/main/button_site.png", class:"site_btn"), mobile_leaflet_path, target: "_blank") %>
        </div>
		<div class="img">
			<%= image_tag("mobile/bg_about.png") %>
		</div>
	</div>				
	<div class="sub_title_inner">
		<%= image_tag("mobile/brand_talk_title.png", class:"sub_title") %>
	  <div>
	    <div id="ttalk_rating_div"></div>
	    <div id="ttalk_div"></div> 
	  </div>
	</div>
</section>
	<div class="caution">
		<%= image_tag("mobile/main/caution.png", class:"caution") %>
	</div>
</div>