<div class="menu_form">
	<%= link_to(image_tag("mobile/back/menu_3.png", class:"menu_list"), "#menu_3", id:"btn_brand_film") %>
	<%= link_to(image_tag("mobile/back/menu_1.png", class:"menu_list"), "#menu_1", id:"btn_poster_coupon") %>
	<%= link_to(image_tag("mobile/back/menu_2.png", class:"menu_list"), "#menu_2", id:"btn_brand_talk") %>
</div>
<div class="contain">
  <nav data-scroll-header class="navi" id="mobile_navi">
		<%= image_tag("mobile/logo.png", class:"logo") %>
		<%= link_to(image_tag("mobile/main/button_menu.png", id:"menu"), "#menu") %>
	</nav>
  <section id="brand_film">
	<div class="content">
		<%= image_tag("mobile/main/title.png", class:"content_full_element") %>
		<div id="ytplayer_wrapper">
		  <iframe id="ytplayer" width="100%"  src="//www.youtube.com/embed/MqVf1YmXoHs?controls=0&showinfo=0&modestbranding=1&wmode=opaque&enablejsapi=1&origin=https%3A%2F%2Flocalhost%3A3000" frameborder="0" allowfullscreen></iframe>
		</div>
    <%#= link_to(image_tag("mobile/main/video_main.png", class:"content_full_element"), "#video_main") %>
		<div class="content_full_element video_small clearfix">
			<div class="video_div">
				<div>
					<%= image_tag("mobile/main/video_2_title.png", class:"video_title link_movie_2") %>
			    </div>
				<div>
			        <a href = "#" id="link_movie_2" class="link_movie_icon">
							<%= image_tag("mobile/main/video_2.png", class:"video_vid link_movie_2") %>
			        </a>
				</div>
				<div>	
					<%= link_to(image_tag("mobile/twitter.png", class:"video_twitter"), "#", id:"twitter_share_link_2", "data-text" => "프로스틴은 가진 게 없습니다. 방부제도 유해성분도 0%인 스킨케어. 심지어 새싹까지 틔우게 하는 스킨케어. 우리의 무모한 집착을 영상으로 만나보세요.", "data-url" => "http://www.youtube.com/watch?v=yK7pEo4qnN0") %>
					<%= link_to(image_tag("mobile/facebook.png", class:"video_facebook"), "#", id:"facebook_share_link_2") %>
			    </div>
			</div>
			
			
			<div class="video_div second">
				<div>
				<%= image_tag("mobile/main/video_1_title.png", class:"video_title link_movie_1") %>
			    </div>
				<div>
					<a href = "#" id="link_movie_1" class="link_movie_icon">
	        			<%= image_tag("mobile/main/video_1.png", class:"video_vid link_movie_1") %>
	      		  	</a>
	  			</div>
				<div>
				<%= link_to(image_tag("mobile/twitter.png", class:"video_twitter"), "#", id:"twitter_share_link_1", "data-text" => "개봉 후 냉장 보관 8주가 스킨케어 브랜드 프로스틴의 유통기한입니다. 이것은 피부에 대한 무모한 집착 또는 철학. 착한 성분만 전달하기 위한 가장 짧은 진심을 영상으로 만나보세요.", "data-url" => "http://www.youtube.com/watch?v=yK7pEo4qnN0") %>
  			  <%= link_to(image_tag("mobile/facebook.png", class:"video_facebook"), "#", id:"facebook_share_link_1") %>	
                </div>
			</div>
			
			<div class="video_div third">
				<div>
				<%= image_tag("mobile/main/video_3_title.png", class:"video_title link_movie_3") %>
			    </div>
				<div>
					<a href = "#" id="link_movie_3" class="link_movie_icon">
	        			<%= image_tag("mobile/main/video_3.png", class:"video_vid link_movie_3") %>
	      		  	</a>
	  			</div>
				<div>
				<%= link_to(image_tag("mobile/twitter.png", class:"video_twitter"), "#", id:"twitter_share_link_3", "data-text" => "론칭 2년째 수익룰은 마이너스. 실패가 뻔했던 스킨케어. 뭐하러 돈 들여 만들었지? 프로스틴의 무모하고 용기있는 도전을 영상으로 만나보세요.", "data-url" => "http://www.youtube.com/watch?v=yK7pEo4qnN0") %>
  			  <%= link_to(image_tag("mobile/facebook.png", class:"video_facebook"), "#", id:"facebook_share_link_3") %>	
                </div>
			</div>
			
		</div>
	</div>
</section>
  <section id="poster_coupon">
	<div class="poster">
		<%= image_tag("mobile/main/poster_title.png", class:"poster_title") %>
		<div id="poster_box">
			<div id="poster_inbox" class="owl-carousel owl-theme">
				<div class="item">
          <%= link_to new_mobile_user_path(code:"1"), code:"1", class:"poster_select" do%>
          <%= image_tag("mobile/main/poster_1.png", class:"poster_element") %>
          <%end%>
        </div>
			  <div class="item">
          <%= link_to new_mobile_user_path(code:"2"), code:"2", class:"poster_select" do%>
          <%= image_tag("mobile/main/poster_2.png", class:"poster_element") %>
          <%end%>
        </div>
			  <div class="item">
          <%= link_to new_mobile_user_path(code:"3"), code:"3", class:"poster_select" do%>
          <%= image_tag("mobile/main/poster_3.png", class:"poster_element") %>
          <%end%>
        </div> 
			  <div class="item">
          <%= link_to new_mobile_user_path(code:"4"), code:"4", class:"poster_select" do%>
          <%= image_tag("mobile/main/poster_4.png", class:"poster_element") %>
          <%end%>
        </div>
			  <div class="item">
          <%= link_to new_mobile_user_path(code:"5"), code:"5", class:"poster_select" do%>
          <%= image_tag("mobile/main/poster_5.png", class:"poster_element") %>
          <%end%>
        </div>
			</div>
		</div>
		
		<div class="poster_text_inner">
			<%= image_tag("mobile/main/poster_text.png", class:"poster_text") %>
    	</div>
		<%#= link_to new_mobile_user_path(code:"1"), "data-href" => new_mobile_user_path, id:"poster_btn" do%><%#= image_tag("mobile/main/poster_apply.png", class:"poster_button") %><%#end%>
    
    <br>
		<%= image_tag("mobile/main/gift.png", class:"gift") %>
	</div>
</section>
<section id="brand_talk">
	<div class="about_top">
		<div class="btn">
			<%= link_to(image_tag("mobile/main/button_site.png", class:"site_btn"), mobile_leaflet_path, target: "_blank") %>
        </div>
		<div class="img">
			<%= image_tag("mobile/bg_about.png") %>
		</div>
	</div>				
	<div class="sub_title_inner">
		<%= image_tag("mobile/brand_talk_title.png", class:"sub_title") %>
	</div>		
    <div class="fb-comments" data-href="http://www.stayfoolish.co.kr"  data-numposts="5" data-colorscheme="light" data-mobile="true" style="display:none;"></div>
</section>
	<div class="caution">
		<%= image_tag("mobile/main/caution.png", class:"caution") %>
	</div>
</div>
