<header id = "nav_bar">
  <div class = "center">
    <a href = "#" class="logo_a">
      <%= image_tag("pc/header/logo.png", class: "logo", :alt => "logo") %>
    </a>
    <nav class = "navigation">
      <ul class="clearfix">
        <li class="navi_list">
          <a data-scroll href="#brand_flim" class = "bt_paging" id = "bt_brand_flim">
            <%= image_tag("pc/header/nav_brand_flim.png", class: "navigation_list") %>
          </a>
        </li>
        <li class="navi_list navi_line"><div class = "nav_vertical_line"> </div></li>
        <li class="navi_list">
          <a data-scroll 
            data-options="offset: 70;"
            href="#poster_coupon" class = "bt_paging", id = "bt_poster_coupon">
            <%= image_tag("pc/header/nav_poster_coupon.png", class: "navigation_list") %> 
          </a>
        </li>
        <li class="navi_list navi_line"><div class = "nav_vertical_line"> </div></li>
        <li class="navi_list">
          <a data-scroll href="#brand_talk" class = "bt_paging" id = "bt_brand_talk">
            <%= image_tag("pc/header/nav_brand_talk.png", class: "navigation_list") %> 
          </a>
        </li>
      </ul>
    </nav>
    <%= link_to(image_tag("pc/header/store.png", class:"store clearfix"), "http://www.frostine.com/", target: "_blank") %>
  </div>
</header>