<section id = "brand_flim">
	<div class = "contents_wrapper center">
		<%= image_tag("pc/title.png", class: "title_brand_flim") %>
		<div class = "movie_wrapper center">
			<div id = "ytplayer">
			</div>
		</div>
		<div class = "other_movies center">
			<div class="thumbnail_movie">
				<a href="#" id="link_movie_3" class="thumbnail_movie_image">
					<%= image_tag("pc/title_thumbnail_movie_03.png", class: "title_thumbnail_movie") %>
					<%= image_tag("pc/image_thumbnail_movie_03.png") %>
				</a>
				<div class="share_sns">            
					<%= link_to(image_tag("pc/share_facebook_icon.png", class:"share_facebook"), "#", id:"facebook_share_link_3") %>	
					<%= link_to(image_tag("pc/share_twitter_icon.png", class: "share_twitter"), "#", id:"twitter_share_link_3", "data-text" => "론칭 2년째 수익률은 마이너스. 실패가 뻔했던 스킨케어. 뭐하러 돈 들여 만들었지? 프로스틴의 무모하고 용기있는 도전을 영상으로 만나보세요.", "data-url" => "http://www.youtube.com/watch?v=yK7pEo4qnN0") %>
				</div>
			</div>
			<div class="thumbnail_movie_vertical_line"> </div>
			<div class="thumbnail_movie">
				<a href = "#" id="link_movie_2" class="thumbnail_movie_image">
					<%= image_tag("pc/title_thumbnail_movie_01.png", class: "title_thumbnail_movie") %>
					<%= image_tag("pc/image_thumbnail_movie_01.png") %>
				</a>
				<div class = "share_sns">
					<%= link_to(image_tag("pc/share_facebook_icon.png", class:"share_facebook"), "#", id:"facebook_share_link_2") %>	
					<%= link_to(image_tag("pc/share_twitter_icon.png", class: "share_twitter"), "#", id:"twitter_share_link_2", "data-text" => "프로스틴은 가진 게 없습니다. 방부제도 유해성분도 0%인 스킨케어. 심지어 새싹까지 틔우게 하는 스킨케어. 우리의 무모한 집착을 영상으로 만나보세요.", "data-url" => "http://www.youtube.com/watch?v=yK7pEo4qnN0") %>
				</div>
			</div>
			<div class="thumbnail_movie_vertical_line"> </div>
			<div class="thumbnail_movie">
				<a href="#" id="link_movie_1" class="thumbnail_movie_image">
					<%= image_tag("pc/title_thumbnail_movie.png", class: "title_thumbnail_movie") %>
					<%= image_tag("pc/image_thumbnail_movie.png") %>
				</a>
  			<div class = "share_sns">      
  				<%= link_to(image_tag("pc/share_facebook_icon.png", class:"share_facebook"), "#", id:"facebook_share_link_1") %>	
  				<%= link_to(image_tag("pc/share_twitter_icon.png", class: "share_twitter"), "#", id:"twitter_share_link_1", "data-text" => "개봉 후 냉장 보관 8주가 스킨케어 브랜드 프로스틴의 유통기한입니다. 이것은 피부에 대한 무모한 집착 또는 철학. 착한 성분만 전달하기 위한 가장 짧은 진심을 영상으로 만나보세요.", "data-url" => "http://www.youtube.com/watch?v=yK7pEo4qnN0") %>  
  			</div>
      </div>
		</div>
	</div>
</section>