<header class = "navigation_bar">
	<div class = "center">
		<a href = "#">
			<%= image_tag("pc/header/logo.png", class: "logo", :alt => "logo") %>
		</a>
		<nav class = "navigation">
			<ul>
				<a href="#brand_flim">
					<%= image_tag("pc/header/nav_brand_flim.png", class: "navigation_list") %>
				</a>
				<div class = "nav_vertical_line"> </div>
				<a href="#poster_coupon">
					<%= image_tag("pc/header/nav_poster_coupon.png", class: "navigation_list") %> 
				</a>
				<div class = "nav_vertical_line"> </div>
				<a href="#brand_talk">
					<%= image_tag("pc/header/nav_brand_talk.png", class: "navigation_list") %> 
				</a>
			</ul>
		</nav>
        <%= link_to do %>
			<%= image_tag("pc/header/store.png", class: "store clearfix") %>

        <% end %>
	</div>
</header>
<article>
	<section id = "brand_flim">
		<div class = "contents_wrapper center">
			<%= image_tag("pc/title.png", class: "title_brand_flim") %>
			<div class = "movie_wrapper center">

            </div>
            <div class = "other_movies center">
				<div class = "thumbnail_movie">
                    <a href = "#">
    					<%= image_tag("pc/title_thumbnail_movie.png", class: "title_thumbnail_movie") %>
    					<%= image_tag("pc/image_thumbnail_movie.png") %>
                    </a>
					<div class = "share_sns">
						<a href = ""><%= image_tag("pc/share_facebook_icon.png", class: "share_facebook") %></a>
						<a href = ""><%= image_tag("pc/share_twitter_icon.png", class: "share_twitter") %></a>
					</div>
				</div>
				<div class = "thumbnail_movie_vertical_line"> </div>
				<div class = "thumbnail_movie">
					<a href = "#">
                        <%= image_tag("pc/title_thumbnail_movie.png", class: "title_thumbnail_movie") %>
                        <%= image_tag("pc/image_thumbnail_movie.png") %>
                    </a>
					<div class = "share_sns">
						<a href = ""><%= image_tag("pc/share_facebook_icon.png", class: "share_facebook") %></a>
						<a href = ""><%= image_tag("pc/share_twitter_icon.png", class: "share_twitter") %></a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id = "poster_coupon">
		<div class = "center">
			<div class = "poster_left_column">
				<%= image_tag("pc/poster/poster_title.png", class: "title_poster") %>
				<ul class = "poster_list">
					<li class = "poster_item posters_thinking"> </li>
					<li class = "poster_item">
                        <a href = "">
                        <%= image_tag("pc/poster/small_poster.png") %>
                        <%= image_tag("pc/poster/view_hover.png", class: "view_hover") %>
                        </a>
                    </li>
                    <li class = "poster_item">
                        <a href = "">
                        <%= image_tag("pc/poster/small_poster.png") %>
                        <%= image_tag("pc/poster/view_hover.png", class: "view_hover") %>
                        </a>
                    </li>                   <li class = "poster_item">
                        <a href = "">
                        <%= image_tag("pc/poster/small_poster.png") %>
                        <%= image_tag("pc/poster/view_hover.png", class: "view_hover") %>
                        </a>
                    </li>                   <li class = "poster_item">
                        <a href = "">
                        <%= image_tag("pc/poster/small_poster.png") %>
                        <%= image_tag("pc/poster/view_hover.png", class: "view_hover") %>
                        </a>
                    </li>                   <li class = "poster_item">
                        <a href = "">
                        <%= image_tag("pc/poster/small_poster.png") %>
                        <%= image_tag("pc/poster/view_hover.png", class: "view_hover") %>
                        </a>
                    </li>
				</ul>
			</div>
			<div class = "poster_right_column clearfix">
                <div class = "poster_wrapper">
    				<%= image_tag("pc/poster/contents_large_poster.png") %>
                </div>
                <div class = "poster_request_wrapper center">
                    <a href = "#" id = "request_poster">
        				<%= image_tag("pc/poster/request_poster.png") %>
                    </a>
                    <div class = "share_sns">
                           <a href = ""> <%= image_tag("pc/share_facebook_icon.png", class: "share_facebook") %></a>
                            <a href = ""><%= image_tag("pc/share_twitter_icon.png", class: "share_twitter") %></a>
                        </div>
        			</div>
                </div>
			<%= image_tag("pc/poster/poster_gift.png", class: "poster_gift") %>
		</div>
	</section>
	<section id = "brand_talk">
        <div class = "contents_wrapper center">
    		<%= image_tag("pc/title_brand_talk.png", class: "brand_talk_title") %>
            <div class = "brand_right_column clearfix">
                <%= image_tag("pc/brand_talk_contents.png") %>
                <br>
                <%= link_to do %>
                    <%= image_tag("pc/link_frostine_site.png", class: "link_frostine_site") %>
                <% end %>
            </div>
            <%= image_tag("pc/comment_about_challenge.png", class: "title_comment") %>
            <div class = "comment_list_wrapper">
                
            </div>
        </div>
	</section>
</article>
<footer id = "about_event">
    <div class = "contents_wrapper center">
        <%= image_tag("pc/event_information.png") %>
    </div>
</footer>

<div class = "popup" id = "popup_already">
    <div class = "popup_contents_wrapper">
        <%= image_tag("pc/popup/already_participation.png", class: "popup_fn_title") %>
        <a href = "#">
            <%= image_tag("pc/popup/popup_bt_confirm.png", class: "bt_fn_confirm") %>
        </a>
    </div>
    <a href = "">
        <%= image_tag("pc/popup/popup_bt_close.png", class: "close clearfix") %>
    </a>
</div>

<div class = "popup" id = "popup_thank">
    <div class = "popup_contents_wrapper">
        <%= image_tag("pc/popup/thank_event.png", class: "popup_fn_title") %>

        <a href = "#">
            <%= image_tag("pc/popup/popup_bt_confirm.png", class: "bt_fn_confirm") %>
        </a>
    </div>
    <a href = "#">
        <%= image_tag("pc/popup/popup_bt_close.png", class: "close clearfix") %>
    </a>
</div>

<div class = "popup" id = "popup_nexttime">
    <div class = "popup_contents_wrapper">
        <%= image_tag("pc/popup/popup_next_time.png", class: "popup_fn_title") %>
        <a href = "#">
            <%= image_tag("pc/popup/popup_bt_confirm.png", class: "bt_fn_confirm") %>
        </a>
    </div>
    <a href = "">
        <%= image_tag("pc/popup/popup_bt_close.png", class: "close clearfix") %>
    </a>
</div>
<div class = "popup" id = "popup_personal">
    <div class = "popup_contents_wrapper">
        <%= image_tag("pc/popup/snow_icon.png", class: "snow_icon") %>
        <div class = "privacy_wrapper centering">
            
        </div>
        <a class = "confirm">
            <%= image_tag("pc/popup/popup_bt_confirm.png", class: "bt_confirm") %>
        </a>
    </div>
    <a href = "">
        <%= image_tag("pc/popup/popup_bt_close.png", class: "close clearfix") %>
    </a>
</div>

<div id = "participation_event" class = "popup">
    <div class = "popup_contents_wrapper participate_event_wrapper">
        <%= image_tag("pc/popup/participation_event.png", class: "title_participation_event") %>
        <form action = "" name = "submit_information" class = "input_information_form">
            <input type="text" name = "name" class = "input_name" required>
            <input type="text" name = "phone_number" class = "input_phone" required>
            <input type="text" name = "address" class = "input_address">
            <input type="text" name = "detail_address" class = "input_detail_address">
            <div class = "agree_wrapper">
                <input type="checkbox" name = "agree_personal_info" class = "agree_personal_info">
                <input type="checkbox" name = "agree_dealing_personal_info" class = "agree_dealing_personal_info">
                <%= image_tag("pc/popup/agree_personal_information.png", class: "image_agree") %>
                <a href = "#" id = "about_personal_information">
                <%= image_tag("pc/popup/popup_input_show_more.png", class: "view_more_personal_info") %>
                </a>
            </div>
            <%= image_submit_tag("pc/popup/popup_input_submit.png", id: "bt_submit") %>
        </form>
        <%= image_tag("pc/popup/more_info.png", class: "more_info") %>
    </div>
    <a href = "">
    <%= image_tag("pc/popup/popup_bt_close.png", class: "close clearfix") %>
    </a>
</div>