<header id = "nav_bar">
	<div class = "center">
		<a href = "#">
			<%= image_tag("pc/header/logo.png", class: "logo", :alt => "logo") %>
		</a>
		<nav class = "navigation">
			<ul>
				<a data-scroll href="#brand_flim" class = "bt_paging" id = "bt_brand_flim">
					<%= image_tag("pc/header/nav_brand_flim.png", class: "navigation_list") %>
				</a>
				<div class = "nav_vertical_line"> </div>
				<a data-scroll 
        data-options="offset: 70;"
        href="#poster_coupon" class = "bt_paging", id = "bt_poster_coupon">
					<%= image_tag("pc/header/nav_poster_coupon.png", class: "navigation_list") %> 
				</a>
				<div class = "nav_vertical_line"> </div>
				<a data-scroll href="#brand_talk" class = "bt_paging" id = "bt_brand_talk">
					<%= image_tag("pc/header/nav_brand_talk.png", class: "navigation_list") %> 
				</a>
			</ul>
		</nav>
    <%= link_to(image_tag("pc/header/store.png", class:"store clearfix"), "http://www.frostine.com/", target: "_blank") %>
	</div>
</header>
<article>
	<section id = "brand_flim">
		<div class = "contents_wrapper center">
			<%= image_tag("pc/title.png", class: "title_brand_flim") %>
			<div class = "movie_wrapper center">
                <div id = "ytplayer">
                  
                  
                </div>
                
                <div id="share_on_movie" class="share_on_movie">
                  
                </div>
                
                <div class="share_facebook_on_movie" id="share_facebook_on_movie">
               	  <p>facebook<p>
                </div>
                <div class = "share_twitter_on_movie" id="share_twitter_on_movie">
                  <p>twitter<p>
                </div>
            </div>
            <div class = "other_movies center">
				<div class = "thumbnail_movie">
                    <a href = "#" id="link_movie_2">
    					<%= image_tag("pc/title_thumbnail_movie_01.png", class: "title_thumbnail_movie") %>
    					<%= image_tag("pc/image_thumbnail_movie_01.png") %>
                    </a>
					<div class = "share_sns">
						<%= link_to(image_tag("pc/share_facebook_icon.png", class:"share_facebook"), "#", id:"facebook_share_link_2") %>	
						<%= link_to(image_tag("pc/share_twitter_icon.png", class: "share_twitter"), "#", id:"twitter_share_link_2", "data-text" => "프로스틴은 가진 게 없습니다. 방부제도 유해성분도 0%인 스킨케어. 심지어 새싹까지 틔우게 하는 스킨케어. 우리의 무모한 집착을 영상으로 만나보세요.", "data-url" => "http://www.youtube.com/watch?v=yK7pEo4qnN0") %>
					</div>
				</div>
				<div class = "thumbnail_movie_vertical_line"> </div>
				<div class = "thumbnail_movie">
                    <a href = "#" id="link_movie_1">
                        <%= image_tag("pc/title_thumbnail_movie.png", class: "title_thumbnail_movie") %>
                        <%= image_tag("pc/image_thumbnail_movie.png") %>
                    </a>
					<div class = "share_sns">
            
             <%= link_to(image_tag("pc/share_facebook_icon.png", class:"share_facebook"), "#", id:"facebook_share_link_1") %>	
              <%= link_to(image_tag("pc/share_twitter_icon.png", class: "share_twitter"), "#", id:"twitter_share_link_1", "data-text" => "개봉 후 냉장 보관 8주가 스킨케어 브랜드 프로스틴의 유통기한입니다. 이것은 피부에 대한 무모한 집착 또는 철학. 착한 성분만 전달하기 위한 가장 짧은 진심을 영상으로 만나보세요.", "data-url" => "http://www.youtube.com/watch?v=yK7pEo4qnN0") %>
            
					</div>
				</div>

				<div class = "thumbnail_movie_vertical_line"> </div>
				<div class = "thumbnail_movie">
                    <a href = "#" id="link_movie_3">
                        <%= image_tag("pc/title_thumbnail_movie_03.png", class: "title_thumbnail_movie") %>
                        <%= image_tag("pc/image_thumbnail_movie_03.png") %>
                    </a>
					<div class = "share_sns">
            
             <%= link_to(image_tag("pc/share_facebook_icon.png", class:"share_facebook"), "#", id:"facebook_share_link_3") %>	
              <%= link_to(image_tag("pc/share_twitter_icon.png", class: "share_twitter"), "#", id:"twitter_share_link_3", "data-text" => "론칭 2년째 수익룰은 마이너스. 실패가 뻔했던 스킨케어. 뭐하러 돈 들여 만들었지? 프로스틴의 무모하고 용기있는 도전을 영상으로 만나보세요.", "data-url" => "http://www.youtube.com/watch?v=yK7pEo4qnN0") %>
            
					</div>
				</div>


			</div>
		</div>
	</section>
	<section id = "poster_coupon">
		<div class = "center">
			<div class = "poster_left_column">
				<%= image_tag("pc/poster/poster_title.png", class: "title_poster") %>
				<ul class = "poster_list">
					<li class = "poster_item posters_thinking"> </li>
					<li class = "poster_item">
                        <a href = "#" id = "bt_poster_item_1" code="1" class="poster_select">
                        <%= image_tag("pc/poster/small_poster_01.png") %>
                        <%= image_tag("pc/poster/view_hover.png", class: "view_hover") %>
                        </a>
                    </li>
                    <li class = "poster_item">
                        <a href = "#" id = "bt_poster_item_2" code="2" class="poster_select">
                        <%= image_tag("pc/poster/small_poster_02.png") %>
                        <%= image_tag("pc/poster/view_hover.png", class: "view_hover") %>
                        </a>
                    </li>
                   <li class = "poster_item">
                        <a href = "#" id = "bt_poster_item_3" code="3" class="poster_select">
                        <%= image_tag("pc/poster/small_poster_03.png") %>
                        <%= image_tag("pc/poster/view_hover.png", class: "view_hover") %>
                        </a>
                    </li>
                   <li class = "poster_item">
                        <a href = "#" id = "bt_poster_item_4" code="4" class="poster_select">
                        <%= image_tag("pc/poster/small_poster_04.png") %>
                        <%= image_tag("pc/poster/view_hover.png", class: "view_hover") %>
                        </a>
                    </li>
                   <li class = "poster_item">
                        <a href = "#" id = "bt_poster_item_5" code="5" class="poster_select">
                        <%= image_tag("pc/poster/small_poster_05.png") %>
                        <%= image_tag("pc/poster/view_hover.png", class: "view_hover") %>
                        </a>
                    </li>
				</ul>
			</div>
			<div class = "poster_right_column clearfix">
				 <div class = "poster_request_wrapper center">
                     
   				    <div class="inner">
				     <a href = "#" id = "request_poster" data-href = "#">
				         <%= image_tag("pc/btn_posters.png") %>
				     </a>
				     <div class = "share_sns">
										<%= link_to(image_tag("pc/share_facebook_icon.png", class:"share_facebook"), "#", id:"poster_facebook_share_link", "data-code" => "1") %>	
										<%= link_to(image_tag("pc/share_twitter_icon.png", class: "share_twitter"), "#", id:"poster_twitter_share_link", "data-code" => "1", "data-text" => "당신과 가장 닮은 포스터를 선택하세요. 무모할만큼 실속있는 시크릿 선물을 담아 포스터와 함께 보내드립니다. 5천명 모두에게", "data-url" => "http://www.youtube.com/watch?v=yK7pEo4qnN0") %>
				     </div>
				    </div>
				 </div>
 
 
 
                <div class = "poster_wrapper">
                    <%= image_tag("pc/poster/contents_large_poster_1.png", id: "poster_item_1", class: "poster_display") %>
                    <%= image_tag("pc/poster/contents_large_poster_2.png", id: "poster_item_2", class: "poster_hidden") %>
                    <%= image_tag("pc/poster/contents_large_poster_3.png", id: "poster_item_3", class: "poster_hidden") %>
                    <%= image_tag("pc/poster/contents_large_poster_4.png", id: "poster_item_4", class: "poster_hidden") %>
                    <%= image_tag("pc/poster/contents_large_poster_5.png", id: "poster_item_5", class: "poster_hidden") %>
    				
                </div>

			</div>	
				
			<%= image_tag("pc/poster/poster_gift.png", class: "poster_gift") %>
		</div>
	</section>
	<section id = "brand_talk">
        <div class = "contents_wrapper center">
            <div class = "brand_left_column">
        		<%= image_tag("pc/title_brand_talk.png", class: "brand_talk_title") %>
            </div>
            <div class = "brand_right_column clearfix">
            		<%= link_to(image_tag("pc/link_frostine_site.png", class:"link_frostine_site"), "http://www.stayfoolish.co.kr/Frostine_Brand_Leaflet.pdf", target: "_blank") %>              
            </div>
            <%= image_tag("pc/comment_about_challenge.png", class: "title_comment") %>
            <div class = "comment_list_wrapper" style="display:none;">
                <div class="fb-comments" data-href="http://www.stayfoolish.co.kr" data-width="960" data-numposts="5" data-colorscheme="light"></div>
            </div>
        </div>
	</section>
</article>
<footer id = "about_event">
    <div class = "contents_wrapper center">
        <%= image_tag("pc/event_information.png") %>
    </div>
</footer>

<div class = "popup" id = "popup_already">
    <div class = "popup_contents_wrapper">
        <%= image_tag("pc/popup/already_participation.png", class: "popup_fn_title") %>
        <a href = "#">
            <%= image_tag("pc/popup/popup_bt_confirm.png", class: "bt_fn_confirm") %>
        </a>
    </div>
    <a href = "#">
        <%= image_tag("pc/popup/popup_bt_close.png", class: "close clearfix") %>
    </a>
</div>

<div class = "popup" id = "popup_thank">
    <div class = "popup_contents_wrapper">
        <%= image_tag("pc/popup/thank_event.png", class: "popup_fn_title") %>

        <a href = "#">
            <%= image_tag("pc/popup/popup_bt_confirm.png", class: "bt_fn_confirm") %>
        </a>
    </div>
    <a href = "#">
        <%= image_tag("pc/popup/popup_bt_close.png", class: "close clearfix") %>
    </a>
</div>

<div class = "popup" id = "popup_nexttime">
    <div class = "popup_contents_wrapper">
        <%= image_tag("pc/popup/popup_next_time.png", class: "popup_fn_title") %>
        <a href = "#">
            <%= image_tag("pc/popup/popup_bt_confirm.png", class: "bt_fn_confirm") %>
        </a>
    </div>
    <a href = "#">
        <%= image_tag("pc/popup/popup_bt_close.png", class: "close clearfix") %>
    </a>
</div>

   <%= render "popup_personal"%>      
         
  <%= render "popup_brand"%>        
                         
         
         <div id="test_out" class="address_box">
           
             <div class = "address_wrapper" id="addresses">
               
               
             </div>
         </div>
         
<div id = "participation_event" class = "popup">
    <div class = "popup_contents_wrapper participate_event_wrapper">
        <%= image_tag("pc/popup/participation_event.png", class: "title_participation_event") %>
       <%= form_for([:pc, @user], remote: true, html: {'data-type'=>'json', class: "input_information_form", id:"new_user"}) do |f| %>
          <%= f.hidden_field(:poster_code,
          {"data-name" => "poster_code", id: "info_poster_code", 
            class:"popup_input", value: "1"})%>
          <%= f.text_field(:name, 
           {"data-name" => "name", id: "info_name", 
              class:"popup_input input_name", value: ""})%>
          <%= f.text_field(:phone, 
            {"data-name" => "phone", id: "info_phone", 
              class:"popup_input input_phone", value: ""})%>
          <%= f.text_field(:address, 
            {"data-name" => "address", id: "info_address", 
              class:"popup_input input_address popup_input_address", value: "",  placeholder: "예:역삼동 개나리아파트"})%>
           <a href = "#" id = "request_address">
               <%= button_tag("검색", id:"info_address_btn", class:"btn_address") %>
           </a>    
          
            <%= f.text_field(:address_detail, 
              {"data-name" => "address_detail", id: "info_address_detail", 
                class:"popup_input input_detail_address", value: "",  placeholder: "예:101동 000호"})%>
             <%= f.hidden_field(:code6,
              {"data-name" => "code6", id: "info_code6",
                class:"popup_input input_code6", value: ""})%>
            <div class = "agree_wrapper">
            
              <div class="agree">
              <%= f.check_box "agree", 
              {"data-name" => "agree", id:"info_input_radio1", 
                class: "agree_personal_info" }%>
                </div>
     
        <div class="agree2">
        <%= f.check_box "agree_option", 
        {"data-name" => "agree_option", id:"info_input_radio2", 
          class: "agree_dealing_personal_info" }%>   </div>
                <%= image_tag("pc/popup/agree_personal_information.png", class: "image_agree") %>
                
                <a href="#" id="about_personal_information" class="view_more_personal_info">
                  <%= image_tag("pc/popup/popup_input_show_more.png") %>
                </a>
                <a href="#" id="about_brand_information" class="view_more_brand_info">
                  <%= image_tag("pc/popup/popup_input_show_more.png") %>
                </a>
            </div>
            <%= image_submit_tag("pc/popup/popup_input_submit.png", id: "bt_submit") %>
            
        <%end%>
        <%= image_tag("pc/popup/more_info.png", class: "more_info") %>
    </div>
    <a href = "#">
    <%= image_tag("pc/popup/popup_bt_close.png", class: "close clearfix") %>
    </a>
</div>