<header class = "navigation_bar">
	<div class = "centering">
		<a href="">
			<%= image_tag("pc/header/logo.png", class: "logo", :alt => "logo") %>
		</a>
		<nav class = "navigation">
			<ul>
				<a href="#brand_flim">
					<%= image_tag("pc/header/nav_brand_flim.png", class: "navigation_list") %>
				</a>
				<div class = "nav_vertical_line"> </div>
				<a href="#poster_coupon">
					<%= image_tag("pc/header/nav_poster_coupon.png", class: "navigation_list") %> 
				</a>
				<div class = "nav_vertical_line"> </div>
				<a href="#brand_talk">
					<%= image_tag("pc/header/nav_brand_talk.png", class: "navigation_list") %> 
				</a>
			</ul>
		</nav>
		<a href="">
			<%= image_tag("pc/header/store.png", class: "store") %>
		</a>
	</div>
</header>
<article>
	<section id = "brand_flim">
		<div class = "centering">
			<%= image_tag("pc/title.png") %>
			<vidio>
				
			</vidio>
			<div class = "other_movies">
				<div class = "thumbnail_movie">
					<%= image_tag("pc/title_thumbnail_movie.png") %>
					<%= image_tag("pc/image_thumbnail_movie.png") %>
					<div class = "share">
						<%= image_tag("pc/thumbnail_facebook_icon.png", class: "share_movie_facebook") %>
						<%= image_tag("pc/thumbnail_twitter_icon.png", class: "share_movie_twitter") %>
					</div>
				</div>
				<div class = "thumbnail_movie_vertical_line"> </div>
				<div class = "thumbnail_movie">
					<%= image_tag("pc/title_thumbnail_movie.png") %>
					<%= image_tag("pc/image_thumbnail_movie.png") %>
					<div class = "share">
						<%= image_tag("pc/thumbnail_facebook_icon.png", class: "share_movie_facebook") %>
						<%= image_tag("pc/thumbnail_twitter_icon.png", class: "share_movie_twitter") %>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id = "poster_coupon">
		<div class = "centering">
			<div class = "left_column">
				<%= image_tag("pc/poster/poster_title.png", class: "title_poster") %>
				<div class = "poster_list">
					<%= image_tag("pc/poster/posters_thinking.png") %>
					<%= image_tag("pc/poster/small_poster.png") %>
					<%= image_tag("pc/poster/small_poster.png") %>
					<%= image_tag("pc/poster/small_poster.png") %>
					<%= image_tag("pc/poster/small_poster.png") %>
					<%= image_tag("pc/poster/small_poster.png") %>
				</div>
			</div>
			<div class = "right_colunm">
				<%= image_tag("pc/poster/poster_background.png") %>
				<%= image_tag("pc/poster/request_poster.png") %>
				<div class = "share">
					<%= image_tag("pc/thumbnail_facebook_icon.png", class: "share_poster_facebook") %>
					<%= image_tag("pc/thumbnail_twitter_icon.png", class: "share_poster_twitter") %>
				</div>
			</div>
			<%= image_tag("pc/poster/poster_gift.png") %>
		</div>
	</section>
	<section id = "brand_talk">
		<%= image_tag("pc/title_brand_talk.png") %>
        <%= image_tag("pc/brand_talk_contents.png") %>
        <%= image_tag("pc/link_frostine_site.png") %>
        <%= image_tag("pc/comment_about_challenge.png") %>
        <div class = "comment_list_warper">
        </div>
	</section>
</article>
<footer id = "about_event">
    <%= image_tag("pc/event_information.png") %>
</footer>
