<div class="popup" data-enhance="false">
  <%= form_for([:mobile, @user]) do |f| %>
  <div class="navi2">
    <%= link_to(image_tag("mobile/exit.png", id:"exit"), mobile_index_path) %>
  </div>
  <div class="content user_new_content">
    <%= image_tag("mobile/apply/comment_input_title.png", class:"popup_title") %>
    <div class="input_box">
      <div class="fields">
      <%= image_tag("mobile/apply/text_name.png", class:"side_text") %>
     <%= f.hidden_field(:event_title,{value: "comment"})%>
     
      <%=
				f.text_field(:name, {"data-name" => "name", id: "info_name", class:"popup_input", value: ""})
			%>
      <br><br>
      <%= image_tag("mobile/apply/text_phone.png", class:"side_text") %>
      <%= f.text_field(:phone,
        {"data-name" => "phone", id: "info_phone", class:"popup_input", value: ""})%>
      <br><br>
          </div>
    </div>
    <div class="agree_box">
      <% if @user.errors[:agree].any? %>
        <span class="check_error">*</span>
      <% end %>
      <%= f.check_box "agree",
      {"data-name" => "agree", id:"info_input_radio1",
        class: "info_input_radio" }%>
      <%= image_tag("mobile/apply/text_agree_1.png", style:"width: 25%; vertical-align: middle;") %>
			<%=
				link_to mobile_agree_path do
					image_tag("mobile/apply/text_agree_more.png", class:"text_agree_more")
				end
			%>
			<br/>

      <%= f.check_box "agree_option", {
						"data-name" => "agree_option", id:"info_input_radio2", class: "info_input_radio"
					} %>
      <%= image_tag("mobile/apply/text_agree_2.png", style:"width: 37%; vertical-align: middle;") %>
			<%=
				link_to mobile_agree_brand_path do
					image_tag("mobile/apply/text_agree_more.png", class:"text_agree_more")
				end
			%>
    </div>
    <%= image_submit_tag("mobile/apply/button.png", class:"apply_btn") %>
    <%= image_tag("mobile/apply/caution.png", class:"caution") %>
  </div>
  <%end%>
</div>
      <% content_for :alert do%>
      <% if @user.errors[:agree].any? %>
        <script>alert("개인정보취급위탁 동의를 확인해주세요.");</script>
      <% end %>
      <% end %>



<!--
iCheck Lisence

Copyright (c) 2014 fronteed

Permission is hereby granted, free of charge, to any person
obtaining a copy of this software and associated documentation
files (the "Software"), to deal in the Software without
restriction, including without limitation the rights to use,
copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the
Software is furnished to do so, subject to the following
conditions:

The above copyright notice and this permission notice shall be
included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
OTHER DEALINGS IN THE SOFTWARE.
-->
