$(document).ready(function(){
	$('#leaflet_inbox').owlCarousel({
		navigation : true, // Show next and prev buttons
		slideSpeed : 300,
		paginationSpeed : 400,
    singleItem:true,
    pagination: false,
    navigationText: ["<",">"]
	});
  

  
  
  $("#user_new_form_close").click(function(e){
    e.preventDefault();
    $("#participation_event").bPopup().close();
  });
	$(".input_phone").mask("999-9999-9999");
  
  $("#link_movie_2").click(function(e){
    e.preventDefault();
    $("#ytplayer").attr("src", "https://www.youtube.com/embed/tuxssbMCqUE?controls=0&showinfo=0&modestbranding=1&vq=hd1080&wmode=opaque&enablejsapi=1&autoplay=1&rel=0");
  });
  
  $("#link_movie_1").click(function(e){
    e.preventDefault();
    $("#ytplayer").attr("src", "https://www.youtube.com/embed/ERXmHB3I3Ig?controls=0&showinfo=0&modestbranding=1&vq=hd1080&wmode=opaque&enablejsapi=1&autoplay=1&rel=0");
  });
  
  $("#link_movie_3").click(function(e){
    e.preventDefault();
    $("#ytplayer").attr("src", "https://www.youtube.com/embed/ojhOU5RHk8Y?controls=0&showinfo=0&modestbranding=1&vq=hd1080&wmode=opaque&enablejsapi=1&autoplay=1&rel=0");
  });
  
  
  $("#new_comment_user").bind("ajax:success", function(evt,data,status,xhr){
    response = JSON.parse(xhr.responseText);
    if(response.status==="success"){
      $("#comment_popup_thank").bPopup({
        closeClass: 'b-close',
        modalColor: 'black',
        follow: [false, false], //x, y
        position: ['auto', 'auto'], //x, y
        onClose: function(){$("#comment_event").bPopup().close();}
      });
    }
  }).bind('ajax:error',function(evt,xhr,status,error){
    var $form = $(this),errors,errorText;
    errors = $.parseJSON(xhr.responseText);   
      validation(errors);
  });
  
  $("#new_user").bind("ajax:success", function(evt,data,status,xhr){
    response = JSON.parse(xhr.responseText);
    if(response.status==="success"){
      $("#popup_thank").bPopup({
        closeClass: 'b-close',
        modalColor: 'black',
        follow: [false, false], //x, y
        position: ['auto', 'auto'], //x, y
        onClose: function(){$("#participation_event").bPopup().close();}
      });
    }else {
    }
  
  }).bind('ajax:error',function(evt,xhr,status,error){
    var $form = $(this),errors,errorText;
    errors = $.parseJSON(xhr.responseText);
  
    if(errors.status === "duplicated"){
      $("#popup_already").bPopup({
        closeClass: 'b-close',
        modalColor: '#000',
        follow: [false, false], //x, y
        position: ['auto', 'auto'], //x, y
        onClose: function(){$("#participation_event").bPopup().close();}
      });
    }else{
      validation(errors);
    }
  });
  
  change_winner();
  
  
  get_poster_code();
  
  var q;  
  var handler = function(event){
      if (event.which == 13) {      
        q = $("#info_address").val();
        test_out(q);
      }
  };
  $('#info_address').keyup(handler);
  
  $('#info_address_btn').click(function(e){
    e.preventDefault();
    q = $("#info_address").val();
    test_out(q);
  });
  
  
  $('.select_custom_1').selectric();
  $('.select_custom_2').selectric('refresh');

  
  ga('send', 'event', 'button', 'click', '메인 페이지');
  $("#gift_button").click(function(e){
    e.preventDefault();
    if(event_open() == "running"){
      $("#popup_info").bPopup({
        follow: [false, false], //x, y
        position: ['auto', 60], //x, y
        closeClass: 'b-close',
        modalColor: 'black'
      });
    }    
    ga('send', 'event', 'button', 'click', '피부 선물 받기');
  });

  $("#popup_info_to_personal").click(function(e){
    e.preventDefault();
    $("#popup_personal").bPopup({
      closeClass: 'b-close-2',
      modalColor: 'black',
      follow: [false, false], //x, y
      position: ['auto', 70] //x, y
    });
  });


  function event_open(){
    var result;
    result = $.ajax({
      async: false,
      type: 'get',
      url: '/event_open.json',
      success: function (data) {
      }
    });
    if(result.responseJSON.result == "not_yet"){
      alert("이벤트 오픈: 6월 12일");
    }
    return result.responseJSON.result;
  }

  $("#request_poster").click(function(event) {
    event.preventDefault();
		$(".star").empty(); 
    $('.popup_input').css('background','white');
    var poster_code = $("#info_poster_code").val();
    result = $.ajax({
      async: false,
      type: 'get',
      url: '/poster_stock.json?poster_code='+poster_code,
      success: function (data) {
      }
    });
    if(result.responseJSON.stock <= 0){
      alert("선택하신 포스터는 신청이 마감되었습니다. 다른 포스터를 선택해주세요.");
    }else{
      $("#participation_event").bPopup({
        positionStyle: 'fixed',
        closeClass: 'close',
        modalColor: 'black'
      });
    }
  });


  $("#comment_winner_btn").click(function(event) {
    event.preventDefault();
    $("#second_week_winner").hide();
    $("#third_week_winner").hide();
    $("#fourth_week_winner").hide();
    $("#fifth_week_winner").hide();
    $("#first_week_winner").show();
		  $("#comment_popup_winner").bPopup({
        positionStyle: 'fixed',
        closeClass: 'close',
        modalColor: 'black'
      });  
  });

  $("#request_address").click(function(event) {
    event.preventDefault();
    $("#address_box").bPopup({
      positionStyle: 'fixed',
      closeClass: 'close',
      modalColor: 'black'
    });
  });

  $("#about_personal_information").click(function(event) {
    event.preventDefault();
    $("#participation_event").bPopup().close();
    $("#popup_personal").bPopup({
      positionStyle: 'fixed',
      closeClass: 'close',
      modalColor: 'black',
      onClose: function(){
        $("#participation_event").bPopup({
          positionStyle: 'fixed',
          closeClass: 'close',
          modalColor: 'black'
        });
      }
    });
  });
  
  $("#about_brand_information").click(function(event) {
    event.preventDefault();
    $("#participation_event").bPopup().close();
    $("#popup_brand").bPopup({
      positionStyle: 'fixed',
      closeClass: 'close',
      modalColor: 'black',
      onClose: function(){
        $("#participation_event").bPopup({
          positionStyle: 'fixed',
          closeClass: 'close',
          modalColor: 'black'
        });
      }
    });
  });
  
  $("#request_address").click(function(event) {
    event.preventDefault();
 //   $("#participation_event").bPopup().close();
    $("#address_request_event").bPopup({
      positionStyle: 'fixed',
      closeClass: 'close',
      modalColor: 'black'
    });
  });

  $(".bt_fn_confirm, .bt_confirm").click(function(event) {
    event.preventDefault();
    $(this).parents(".popup").bPopup().close();
  });

  //smooth-scroll.js
  smoothScroll.init({
    speed: 300,
    easing: 'easeOutQuint',
    offset: $("#nav_bar").outerHeight()
  });

  // head navigation
  

  // change large event
  $("a[id^='bt_poster_item']").click(function(event) {
    event.preventDefault();
    var selectId = "#" + $(this).attr("id").slice(3);
    $(".poster_display").removeClass('poster_display').addClass('poster_hidden');
    $(selectId).removeClass('poster_hidden').addClass('poster_display');
  });

  // inital loading page 
  // scroll to top
  // $(window).load(function() {
  //   setTimeout($('html, body').animate({ scrollTop: 0 }, 0));
  // });
  // 
  

});

function apply_user_check(){
  return false;
}

function popup_comment_user_info(){
  var user_param;
  if(apply_user_check(user_param) == false){
    $("#comment_event").bPopup({
      positionStyle: 'fixed',
      closeClass: 'close',
      modalColor: 'black'
    });
  }
  return true;
}

function get_poster_code(){
  $(".poster_select").click(function(e){
    e.preventDefault();
    var code = $(this).attr("code");
    $("#selected_poster").attr("src", selected_posters(code));
    $("#info_poster_code").val(code);
    $("#poster_facebook_share_link").attr("data-code",code);
    $("#poster_twitter_share_link").attr("data-code",code);
    
  });
}

function selected_posters(code){
  var selected_poster;
  selected_poster = [
    '<%= asset_url("pc/popup/selected_poster_01.png") %>',
    '<%= asset_url("pc/popup/selected_poster_02.png") %>',
    '<%= asset_url("pc/popup/selected_poster_03.png") %>',
    '<%= asset_url("pc/popup/selected_poster_04.png") %>',
    '<%= asset_url("pc/popup/selected_poster_05.png") %>'
  ];
  return selected_poster[Number(code)-1];
}



$(window).scroll(function() {
  if ((bowser.msie && bowser.version > 8) || (bowser.webkit) || (bowser.gecko)){
    clearTimeout($.data(this, 'scrollTimer'));
    $.data(this, 'scrollTimer', setTimeout(function() {
        var poster_coupon_offset = 55;
        var brand_talk_offset = 38;
        if( checkRatioOfElementInView("#poster_coupon") >= poster_coupon_offset) {
          smoothScroll.animateScroll( null, '#poster_coupon' );
        }
        if( checkRatioOfElementInView("#brand_talk") >= brand_talk_offset) {
          smoothScroll.animateScroll( null, '#brand_talk' );
        }
    }, 400));
  }
});


function checkRatioOfElementInView(elem) { 
  var result = 0;
  var docViewHeight = $(window).height();
  var docViewTop = $(window).scrollTop();
  var docViewBottom = docViewTop + docViewHeight;

  var elemOuterHeight = $(elem).outerHeight();
  var elemTop = $(elem).offset().top;
  var elemBottom = elemTop + elemOuterHeight;

  if( (elemTop >= docViewTop + $("#nav_bar").outerHeight()) && (elemTop <= docViewBottom)) {
    return ( (docViewBottom - elemTop) / docViewHeight * 100 );
  }else {
    return 0;
  }
  return result;
}

function test_out(q){
  $.ajax({
    url: "/addresses.json",
    type: "get",
    data: { "q": q },
    success: function(data, textStatus, jqXHR) {
      query_results = data;
      $("#addresses").empty();
      address_success_query(query_results);
    },
    error: function(jqXHR, textStatus, errorThrown) {
    },
    complete: function(jqXHR, textStatus) {
    }
  });
}


function address_success_query(query_results){
  $.each(query_results, function( index, value ) {

    var address = value.addr1+" "+value.addr2+" "+value.addr3+" "+value.addr4;
    var li = "<li class='address_list' address-data='"+address+"' code6='"+value.zip+"'>";
    var p_new = "<p class='address_new'>"+"["+value.zip+"] "+address+"</p>";

    $("#addresses").append(li+p_new);
    $(".address_box").bPopup({positionStyle: 'fixed'});
  });

  $('.address_list').on("click", function(){
    var code6 = $(this).attr("code6");
    var address_data = $(this).attr("address-data");
    $("#info_code6").val(code6);
    $("#info_address").val(address_data);
    $(".address_box").bPopup().close();
    $("#addresses").empty();
  });
}

function validation(errors){
	var flag;
	flag = "uniqueness";
	$.each(errors,function(key, value){
  	if(value == "must be accepted" || value == "can't be blank" ){
  		flag = "presence";
  	}
    if(key == "code6"){
      alert("빠른 배송을 위해 주소 옆의 '검색'을 눌러주세요. 우편번호가 자동 입력됩니다.");
    }
  });
  
  if(flag == "presence"){
		$(".star").empty();
    $('.popup_input').css('background','white');

		for ( error in errors ) {
      $('input[data-name ='+error+']').css('background','pink');
      if(error == "agree"){
        alert("개인정보활용에 동의하셔야 참여가 가능합니다.");
      }
		}
	}else if(flag == "uniqueness"){
    $("#popup_already").bPopup({
      closeClass: 'b-close',
      modalColor: '#000',
      follow: [false, false], //x, y
      position: ['auto', 'auto'], //x, y
      onClose: function(){$("#participation_event").bPopup().close();}
    });		
	}
  
}

function change_winner(){
  $("#1st_week").click(function(e){
    e.preventDefault();
    $("#second_week_winner").hide();
    $("#third_week_winner").hide();
    $("#fourth_week_winner").hide();
    $("#fifth_week_winner").hide();
    $("#first_week_winner").show();
  });
  $("#2nd_week").click(function(e){
    e.preventDefault();
    $("#first_week_winner").hide();
    $("#third_week_winner").hide();
    $("#fourth_week_winner").hide();
    $("#fifth_week_winner").hide();
    $("#second_week_winner").show();
  });
  $("#3rd_week").click(function(e){
    e.preventDefault();
    $("#first_week_winner").hide();
    $("#second_week_winner").hide();
    $("#fourth_week_winner").hide();
    $("#fifth_week_winner").hide();
    $("#third_week_winner").show();
    
  });
  $("#4th_week").click(function(e){
    e.preventDefault();
    $("#first_week_winner").hide();
    $("#second_week_winner").hide();
    $("#third_week_winner").hide();
    $("#fifth_week_winner").hide();
    $("#fourth_week_winner").show();
    
  });
  $("#5th_week").click(function(e){
    e.preventDefault();
    $("#first_week_winner").hide();
    $("#second_week_winner").hide();
    $("#third_week_winner").hide();
    $("#fourth_week_winner").hide();
    $("#fifth_week_winner").show();
    
  });
}